<nav>
    <a href="/dashboard"><img src="/images/logo.jpg" alt="logo"></a>
</nav>

<h1>My Account</h1>
<div>
    <h2>Balance</h2>
</div>
<div>
    <a href="/settings"">Settings</a>
    <a href="/add-account">Add another account</a>
</div>
<div>
    <h2>Transaction History</h2>
    <ul>
        <ul>
            <li>+£10.00</li>
        </ul>
    </ul>
</div>