<nav>
    <a href="/dashboard"><img src="/images/logo.jpg" alt="logo"></a>
</nav>

<h1>Personal Details</h1>
<a href="/dashboard">Back</a>
<div>
    <form>

    <strong>Home Address</strong>
    <p>details here</p>

    <strong>Mobile Number</strong>
    <p>details here</p>

    <strong>Email Address</strong>
    <p>details here</p>
    
    </form>
</div>

