<div class="form-group container-md">
    <form method="post" action="/transaction">
        <strong>Recipients Full Name: </strong>
        <input class="form-control" type="text" maxlength="50" name="fullName" placeholder="Full name" required>

        <strong>Recipients Account number: </strong>
        <input class="form-control" type="text" name="accountNumber" placeholder="account-number" required>

        <strong>Recipients Sort-code: </strong>
        <input class="form-control" type="text" name="sortCode" placeholder="sort-code" required>

        <strong>Enter Amount: </strong>
        <input class="form-control" type="number" step="0.1" name="amount" placeholder="£0.00" required>

        <strong>Ref: </strong>
        <input class="form-control" type="text" name="reference">

        <input class="btn btn-primary" type="submit" value="send money">
    </form>
</div>
