<div>
    <form>
        <strong>Enter Full Name</strong>
        <input type="text" maxlength="50" name="fullName">

        <strong>Enter Your Birthday</strong>
        <input type="date" name="birthday">

        <strong>Enter Your Phonenumber</strong>
        <input type="text" name="mobileNumber">

        <strong>Enter Your Address</strong>
        <input type="text" name="addressLine1" placeholder="address line 1">
        <input type="text" name="addressLine2" placeholder="address line 2">

        <strong>Enter Your City</strong>
        <input type="text" name="city">

        <strong>Enter Your Post Code</strong>
        <input type="text" name="postCode">
    </form>
</div>